/* color reference:
        background          #1f1a27
        header              #2b2436
        accent              #5b4e6e
        text                #fff
*/

/* layout styles (background, main elements) */
body {
    background-color: #1f1a27;
    font-family: 'Courier New', Courier, monospace;
    color: #fff;
}
img {
    border-radius: 1rem;
}
.header {
    display: flex;
    width: auto;
    padding: 1em;
    margin-bottom: 2rem;
    background-color: #2b2436;
    border-bottom: 2pt solid #5b4e6e;
    align-items: center;
}
.header-title {
    font-size: 22pt;
    font-weight: bold;
    padding-right: 1rem;
    border-bottom: 3pt solid;
    border-image: linear-gradient(90deg, #ff6565 0%,
                                         #ff84ff 14%,
                                         #7f7fff 29%,
                                         #95fbff 43%,
                                         #81ff81 57%,
                                         #ffff72 71%,
                                         #ffbc6a 100%) 1;
    cursor: pointer;
}
.header-items {
    margin-left: auto;
    display: flex;
    gap: 0.5rem;
}
.header-item {
    padding: 0.5rem 1rem;
    font-family: monospace;
    font-weight: bold;
    font-size: 14pt;
    background-color: #3f354d;
    border-right: 0.2rem solid #5b4e6e;
    transition: 0.25s;
}
.header-item:hover {
    cursor: pointer;
    background-color: #4e435f;
    border-radius: 0.5rem;
    transition: 0.25s;
}
.header-item.active {
    text-decoration: dashed;
}
.section {
    display: flex;
    flex: 1;
    width: auto;
    height: 10%;
}
.section-body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.section-body.left {
    justify-content: left;
}
.section-body.right {
    justify-content: right;
}
.section-hero {
    margin: auto;
    border-radius: 0.5rem;
}